# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask session data
flask_session/

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Mac OS specific files
.DS_Store

# Windows specific files
Thumbs.db